main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    position: relative;
}

.start-screen-gradient-background {
    width: 1280px;
    height: 908px;
    background: linear-gradient(0deg, #211f20, #211f20),
        radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
    position: absolute;
    opacity: 1;
}

header {
    width: 100%;
    height: 60px;
    padding: 0px;
    color: white;
    text-align: center;
    font-family: Georgia;
    background: linear-gradient(0deg, #211f20, #211f20),
        radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
    position: fixed;
    top: 0;
    z-index: 10;
}

.content-container {
    width: 1200px;
    height: 728px;
    position: relative;
    top: 90px;
    left: 40px;
    opacity: 1;
}

.h2-container {
    width: 460px;
    height: 322px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.styled-heading {
    font-family: Georgia;
    font-size: 44px;
    font-weight: 400;
    line-height: 57.2px;
    text-align: left;
    color: #ffffff;
    width: 310px;
    height: 114px;
    margin: 0;
    padding: 10px;
}

.main-puppy {
    position: absolute;
    left: 502px;
    top: 0px;
    width: 698px;
    height: 728px;
}